/* line 10, ../sass/style.scss */
body {
  background: #000000;
}

/* line 13, ../sass/style.scss */
form {
  color: #fff;
  opacity: 0.8;
}

/* line 17, ../sass/style.scss */
div#header {
  border: 10px solid green;
}

/* line 21, ../sass/style.scss */
legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  width: 187px;
  margin-left: 25px;
  border-bottom: none;
  color: #fff;
  margin-bottom: 5px;
}

/* line 31, ../sass/style.scss */
fieldset {
  border: 1px solid #999 !important;
  padding: 10px;
}

/* line 35, ../sass/style.scss */
fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px 0px #000000;
}

/* line 42, ../sass/style.scss */
.cakeForm {
  margin: auto;
  float: none;
}

/* line 48, ../sass/style.scss */
legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

/* line 56, ../sass/style.scss */
textarea {
  color: #000000;
}

/* line 59, ../sass/style.scss */
.paddingZero {
  padding: 0;
}

/* line 62, ../sass/style.scss */
.sub_btn {
  background: #000000;
}

/* line 66, ../sass/style.scss */
.register_btn a {
  color: #fff;
  text-decoration: underline;
  margin-left: 20px;
}

/* line 71, ../sass/style.scss */
.cakeForm {
  margin: auto;
  float: none;
}

/* line 75, ../sass/style.scss */
input[type="text"], input[type="email"], textarea {
  background-color: #999;
}

/* line 78, ../sass/style.scss */
.form-control {
  border-radius: 0px !important;
}

/* line 81, ../sass/style.scss */
.mb {
  margin-bottom: 20px;
}
